.table {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
}

plate {
    display: block;
    border-bottom: solid 5px #DDD;
    background: white;
    width: 100px;
    height: 85px;
    border-radius: 100px;
}

plate:before {
    content: "";
    display: block;
    position: absolute;
    left: calc(50% - 32px);
    top: calc(50% - 32px);
    height: 65px;
    width: 65px;
    border-radius: 60px;
    border-top: solid 6px #CCC;
    opacity: .4;
    background: rgba(255,255,255,1);
}

.strobe {
    transform-origin: bottom;
    animation: strobeStart .5s ease-out, strobe 1s infinite;
    animation-delay: 0s, .5s;
}
@keyframes strobeStart {
    0% {
      transform:  skew(0deg,0deg) scaleY(1) ;
      animation-timing-function: ease-in;
     }
    40% {
      transform:  skew(0deg,0deg) scaleY(.9);
      animation-timing-function: ease-out;
    }
    100% { transform:   skew(4deg,0deg) scaleX(1); }
}
  
@keyframes strobe {
    0% { transform:   skew(4deg,0deg) scaleX(1); }
    10% { transform:  skew(1deg,0deg) scaleY(.9) ; }
    50% { transform:  skew(-4deg,0deg) scaleX(1); }
    60% { transform:  skew(-1deg,0deg) scaleY(.9) ; }
    100% {transform: skew(4deg,0deg) scaleX(1); }
}