.table {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    position: relative;
}


plate {
    display: block;
    border-bottom: solid 5px #DDD;
    background: white;
    border-radius: 100px;
}

plate:before {
    content: "";
    display: block;
    position: absolute;
    left: calc(50% - 28px);
    top: calc(50% - 28px);
    height: 55px;
    width: 55px;
    border-radius: 60px;
    border-top: solid 6px #CCC;
    opacity: .4;
    background: rgba(255,255,255,1);
}

bento {
    height: 100px;
    background: brown;
    position: relative;
    border: solid 3px #711c12;
    border-width: 20px 2px;
}

bento:before {
    content:"";
    position: absolute;
    width: calc(100%);
    top: 0;
    left:0;
    border: solid 10px rgba(0,0,0,.1);
    border-width: 10px 0 0 0px;
}

plate, bento {
    width: 80px;
    height: 80px;
}
bento > plate {
    position: absolute;
    top: calc(50% - 25px);
    margin:0;
    width: 60px;
    height: 60px;
}

.strobe {
    transform-origin: bottom;
    animation: strobeStart .5s ease-out, strobe 1s infinite;
    animation-delay: 0s, .5s;
}
@keyframes strobeStart {
    0% {
      transform:  skew(0deg,0deg) scaleY(1) ;
      animation-timing-function: ease-in;
     }
    40% {
      transform:  skew(0deg,0deg) scaleY(.9);
      animation-timing-function: ease-out;
    }
    100% { transform:   skew(4deg,0deg) scaleX(1); }
}
  
@keyframes strobe {
    0% { transform:   skew(4deg,0deg) scaleX(1); }
    10% { transform:  skew(1deg,0deg) scaleY(.9) ; }
    50% { transform:  skew(-4deg,0deg) scaleX(1); }
    60% { transform:  skew(-1deg,0deg) scaleY(.9) ; }
    100% {transform: skew(4deg,0deg) scaleX(1); }
}

    

.helper {
    content: attr(data-tooltip); 
    position: absolute;
  background: white;
  padding: 10px 15px 12px 15px;
  z-index: 1000;
  font-size: 18px;
  color: #666;
  border-bottom: solid 2px #BBB;
  box-shadow: 0px 5px 0px rgba(0,0,0,.2);
  display: none;
  outline: solid 1px transparent;
  word-wrap: nowrap;
  white-space: nowrap;
  left: 5px;
} 

.visib {
    display: inline-block;
    top: -3em;
    perspective:  initial;
}
.hovered {
    box-shadow: 0 0 0 6px rgba(189, 21, 113, 0.3);
}