.levelsBlockContainer {
    padding: 5px;
    grid-column: 3 / 3;
    grid-row: 1 / 5;
    background-color: rgba(0,0,0,.35);
    height: 95%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    color: #777;
}

@media screen and (max-width: 1020px) {
    .levelsBlockContainer {
        grid-column: 2 / 2;
        grid-row: 1 / 6;
    }
}
@media screen and (max-width: 700px) {
    .levelsBlockContainer {
        font-size: 16px;
    }
}

.level-container {
    margin-bottom: 5px;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
}
.level-container:hover {
    color: #AAA;
    background: rgba(255,255,255,.07);
    transition: 0.2s;
}
.level-container:active {
    color: #AAA;
    background-color: rgb(170, 97, 97);
    transition: 0.2s;
}

.check-mark {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    width: 12px;
    height: 20px;
    opacity: 2;
    border: solid 3px white;
    border-width: 0 4px 4px 0;
    opacity: .2;
    top: -2px;
    transform: rotate(40deg);
}
@media screen and (max-width: 700px) {
    .check-mark {
        width: 6px;
        height: 10px;
        border-width: 0 2px 2px 0;
        margin-right: 10px;
    }
}
.check-mark-finished {
    border: solid 3px rgb(24, 207, 24);
    border-width: 0 4px 4px 0;
    opacity: 1;
}
@media screen and (max-width: 700px) {
    .check-mark-finished {
        border-width: 0 2px 2px 0;
    }
}

.reset-btn {
    margin: 20px auto 0 auto;
    width: 70%;
    cursor: pointer;
    transition: 0.2s;
}

.reset-btn:hover {
    transition: 0.2s;
    scale: 1.1;
}
.reset-btn:active {
    background: rgb(173, 96, 96);
}

.state-with-help {
    display: inline-block;
    font-weight: 200;
    opacity: 0;
    font-size: 0.7em;
    color: rgb(208, 255, 0);
    margin-left: 3px;
}
.state-with-help-vis {
    opacity: 1;
}

.current {
    color: #AAA;
    background: rgba(255,255,255,.07);
}