.input-container {
    background: #efefef;
    color: #AAA;
    padding: 5px;
}

input {
    display: inline-block;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgba(62,203,255,.3);
    animation: input .5s infinite;
}

@keyframes input {
    50% { 
        background: inherit ;
    }
}