*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
button, input {
    font-family: inherit;
}

.main {
    width: 80%;
    margin: 0 auto;
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 0.1fr 0.2fr 1fr 1fr;
    grid-gap: 10px 15px;
    text-align: center;
    align-items: center;
}

.title {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
}
.container {
    grid-column: 1 / 3;
    grid-row: 2 / 2;
}

.buttonHelp {
    display: inline-block;
    width: 50px;
    height: 20px;
    cursor: pointer;
}

.block4 {
    grid-column: 3 / 3;
    grid-row: 1 / 5;
    border: 5px solid red;
    height: 100%;
}

.block3 {
    height: 100%;
    border: 5px solid red;
}