.logo {
    display: inline-block;
    width: 60px;
    height: 40px;
    transition: 0.3s;
    cursor: pointer;
}

.logo:hover {
    transition: 0.3s;
    scale: 1.1;
}

.logo:active {
    transition: 0.3s;
    border: 2px solid rgb(165, 77, 77);
}