html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2e2a23;
    color: beige;
    font-family: "Exo 2", "Lato", "Helvetica Neue", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}