.block4 {
    padding: 5px;
    grid-column: 3 / 3;
    grid-row: 1 / 5;
    border: solid 10px rgba(0,0,0,.35);
    height: 95%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    color: #777;
}

.level-container {
    margin-bottom: 5px;
    justify-content: center;
}

.check-mark {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    width: 12px;
    height: 20px;
    opacity: 2;
    border: solid 3px white;
    border-width: 0 4px 4px 0;
    opacity: .2;
    top: 3px;
    transform: rotate(40deg);
}

.reset-btn {
    margin: 20px auto 0 auto;
    width: 70%;
}
